@font-face {
    font-family: 'apple';
    src: url(/sf-pro-display_semibold.woff2);
}
@font-face {
    font-family: 'app';
    src: url(/sf-pro-text_regular.woff2);
}
*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: app;
}

#head {
    height: 32px;
    background-color: rgb(250, 248, 248);
    margin: 0%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
    font-weight: 100;
}
.haedli {
height: 28px;
display: flex;
font-weight: 100;
justify-content: center;
align-items: center;
background-color: rgba(238, 240, 241, 0.907);
margin: 0%;
}
.cate{
    height: 400px;
    width: 100%;
   
}
.cathea {
    font-size: 55px;
    padding-top: 69px;
    padding-left: 170px;
}

.catefoot{
    display: flex;
    padding-left: 170px;
    padding-top: 50px;
    gap: 50px;
}
.catefoot:hover{
    cursor: pointer;
}
.contain{
    height: 100px;
    font-size: 13px;
    text-align: center;
}
 h6{
    color: rgb(255, 0, 0);
    font-size: 10px;
    font-weight: 600;
    padding-top: 3px;
}
.contain p{
    
    padding-top: 10px;
    font-weight: 550;}

.contain img{
    height: 80px;
    
}
#buy{
    height: 1500px;
    width: 100%;
    background-color: #F5F5F7;
    
}
#buyhead{
    padding-top: 110px;
    padding-left: 119px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}
#buyhead h1{
    font-size: 56px;
    font-weight: 600;
}
.phone{
    padding-left: 120px;
    padding-top: 50px;
}
.phone1 img{
    width: 310px;
    height: 350px;
    border-radius: 25px;
}
.phone1 img:hover {
    width: 320px;
    height: 360px;
    transition: 0.4s;
}