*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main,html{
 height: 100%;
 width: 100%;
}

body{
    background-color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head{
    background-color: rgb(43, 43, 83);
   height: 200px;
    display: flex;
    padding: 0px;

    justify-content: center;
    align-items: center;    
}

h1{
    color: white ;
    font-size: 75px;
}
h5{
    font-size: 20px;
    color: white;
}
h3{
    font-weight: 1000;
    font-size: 25px;
    text-transform: uppercase;
}

.about{
 background-color: lightcoral;
 padding: 35px;
 margin: 10px 100px 10px 100px;
 height: 180px;

font-size: 20px;
}
.back{
    background-color: white;
    margin: 20px 150px 20px 150px;
    padding: 10px;
    font-size: 19px;
}

.education{
    background-color: lightgreen;
    padding: 20px;
    margin: 10px 100px 10px 100px;
    height: 250px;
}
.skills{
    background-color: lightblue;
    padding: 20px;
    margin: 10px 100px 10px 100px;
    height: 380px;
}
.projects{
    background-color: rgb(218, 82, 113);
    padding: 20px;
    margin: 10px 100px 10px 100px;
    height: 320px;
}
.contact{
    background-color: lightgrey;
    padding: 20px;
    margin: 10px 100px 10px 100px;
    height: 300px;
}
footer{
    background-color: rgb(25, 24, 41);
    height: 50px;
    color: white;
    
    padding: 15px;
}