@font-face{
    font-family: 'but';
    src: url('../Butterfly.otf');
}
@font-face {
    font-family: 'cartoon';
    src: url(../OXIDO-Eroded-FFP.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
}

BODY,HTML{

    width: 100%;
    height: 100%;
    
}
#contain{
    font-family: but;
     width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-color: magenta;
    background-size: cover;
}

#CO{
     font-size: 120px;
    font-weight: 350;
    padding-left: 95px;
    padding-top: 75px;;
}
#EA{
     font-size: 120px;
    font-weight: 350;
    padding-left: 150px;
}
#SL{
     font-size: 120px;
    font-weight: 350;
    padding-left: 200px;
}

#RE{
     font-size: 120px;
    font-weight: 350;
    padding-left: 255px;
}
#butt{
    font-family: cartoon;
    font-size: 35px;;
    margin-top: 10px;
    margin-left: 375px;
    padding: 15px;
    background-color: transparent;
}