*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: app;
}

h1{
    color: red; 
    font-size: 75px;
    text-align: center;
}

button{
    border: 3px solid black;
    font-size: 75px;
    border-radius: 2%;
    background-color: aqua;
    margin-right: 25px;
}